<div class="row row-edit ui-sortable-handle" id="1508331738737">
    <div class="toolbox-content">
        <button class="btn btn-danger deleteRow">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="col-md-7 column-edit ui-sortable ui-droppable">
        <div class="label-canvas ui-sortable-handle">Colonnes</div>
        <div class="module-edit ui-sortable-handle" data-module="text" id="1508331743363">
            <div class="toolbox-content">
                <button class="btn btn-info editModule">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger deleteModule">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu justo eget leo faucibus euismod. Donec vel est libero. Nulla sodales turpis felis, et vehicula nisi luctus nec. Aenean sit amet ligula dictum, tristique felis id, fermentum nunc. Nullam fermentum lorem eget lacus fringilla posuere. Integer lobortis est non tortor pharetra tincidunt. Donec congue aliquam hendrerit. Curabitur aliquam interdum nisi at mattis. Aliquam tellus elit, elementum id quam ut, tempor egesta. purus. Vivamus egestas tempus erat quis porttitor. Aenean blandit vehicula enim hendrerit dignissim. Duis feugiat nisl et facilisis scelerisque. Ut ut ligula dolor. Ut varius ligula egestas tempor mollis. Fusce non volutpat nisl. Donec vestibulum mi orci, vel sollicitudin nisl condimentum id. Phasellus ornare quis arcu suscipit convallis. Nullam sit amet elit ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ligula sem, egestas eu accumsan ac, fringilla rutrum tellus. </p>
        </div>
        <div class="module-edit ui-sortable-handle" data-module="text" id="1508331745160">
            <div class="toolbox-content">
                <button class="btn btn-info editModule">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger deleteModule">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu justo eget leo faucibus euismod. Donec vel est libero. Nulla sodales turpis felis, et vehicula nisi luctus nec. Aenean sit amet ligula dictum, tristique felis id, fermentum nunc. Nullam fermentum lorem eget lacus fringilla posuere. Integer lobortis est non tortor pharetra tincidunt. Donec congue aliquam hendrerit. Curabitur aliquam interdum nisi at mattis. Aliquam tellus elit, elementum id quam ut, tempor egesta. purus. Vivamus egestas tempus erat quis porttitor. Aenean blandit vehicula enim hendrerit dignissim. Duis feugiat nisl et facilisis scelerisque. Ut ut ligula dolor. Ut varius ligula egestas tempor mollis. Fusce non volutpat nisl. Donec vestibulum mi orci, vel sollicitudin nisl condimentum id. Phasellus ornare quis arcu suscipit convallis. Nullam sit amet elit ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ligula sem, egestas eu accumsan ac, fringilla rutrum tellus. </p>
        </div>
        <div class="module-edit ui-sortable-handle" data-module="youtube" id="1508332111754">
            <div class="toolbox-content">
                <button class="btn btn-info editModule">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger deleteModule">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <iframe src="https://www.youtube.com/embed/grMXBdq29DU" allowfullscreen="" height="315" frameborder="0" width="560"></iframe>
        </div>
    </div>
    <div class="col-md-5 column-edit ui-sortable ui-droppable ui-droppable-active">
        <div class="label-canvas ui-sortable-handle">Colonnes</div>
        <div class="module-edit ui-sortable-handle" data-module="image" id="1508331741482">
            <div class="toolbox-content">
                <button class="btn btn-info editModule">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger deleteModule">
                    <i class="fa fa-times">
                    </i>
                </button>
            </div>
            <img src="https://dummyimage.com/300x150/2c3e50/ecf0f1.png" class="img-editor">
        </div>
        <div class="module-edit ui-sortable-handle" data-module="map" id="1508331750280">
            <div class="toolbox-content">
                <button class="btn btn-info editModule">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger deleteModule">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div id="map1508331750280" class="map-preview" data-lat="44.832926" data-lon="-0.674089" data-zoom="15" style="width: 645px; height: 469px; position: relative; overflow: hidden;">
                <div style="height: 100%; width: 100%;">
                    <div style="overflow: hidden;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
